@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800,900&display=swap&subset=latin-ext');
$font-family: 'Fira Sans', Helvetica, Arial, sans-serif;

$color-primary-1: #2d4059;
$color-primary-2: #ea5455;
$color-primary-3: #f07b3f;
$color-primary-4: #ffd460;

$color-text: #4e4e4e;
$color-background: #efefef;
$color-border: #b9c8de;
$color-border-light: #F2F5F9;
$color-white: #fff;

$box-shadow: -35px 35px 100px 0 rgba(25, 33, 79, 0.1);